@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #1c4e78;
}

.main-container {
  width: 400px;
  background: #fff;
  border-radius: 15px;
}

.main-container .title {
  text-align: center;
  background: #1f73b7;
  line-height: 80px;
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  border-radius: 14px 14px 0 0;
}

.main-container form {
  padding: 30px 25px 25px 25px;
}

.main-container form .row {
  margin-bottom: 25px;
  height: 45px;
  position: relative;
}

.main-container form .row input {
  width: 100%;
  height: 100%;
  padding-left: 60px;
  font-size: 18px;
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid lightgrey;
  outline: none;
}

.main-container form .row i {
  position: absolute;
  height: 100%;
  width: 45px;
  background: #40739e;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  border: 1px solid lightgrey;
}

.main-container form .pass-link {
  margin: -18px 0 8px 0;
}
.main-container form .pass-link a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #1f73b7;
}
.main-container form .pass-link a:hover {
  text-decoration: underline;
}

.main-container form .submit-button input {
  height: 100%;
  width: 100%;
  padding-left: 0;
  font-size: 25px;
  font-weight: 400;
  background: #2986d3;
  color: #fff;
  border-radius: 5px;
  border: 1px solid lightgrey;
  cursor: pointer;
  margin-bottom: 8px;
  transition: all 0.5s ease;
}
.main-container form .submit-button input:hover {
  background: #1f73b7;
}

.main-container form .signup-link {
  margin-top: 8px;
  font-size: 15px;
  text-align: center;
}
.main-container form .signup-link a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: #1f73b7;
}
.main-container form .signup-link a:hover {
  text-decoration: underline;
}
